*.a
*.app
*.cmd
*.d
dkms.conf
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.map
Mkfile.old
*.mod
*.mod*
modules.order
Module.symvers
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.smod
*.so
*.so.*
*.su
.tmp_versions/
*.x86_64
*.binary
*.err
